body {
    margin: 0;
    padding: 0;
}

.audio {
    position: absolute;
    top: 1%;
    right: 3%;
    width: 8%;
    height: 6%;
    background-image: url(../image/music.png);
}

.next {
    position: absolute;
    bottom: 1%;
    left: 40%;
    width: 20%;
    height: 10%;
    background-image: url(../image/up.png);
}
#audio {
    display: none;
}
.content {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-position: center;
}

.content div {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
}

#s1p1 {
    top: 1%;
    left: 15%;
    width: 70%;
    height: 41%;
    background-image: url(../image/p0/@2x1.png);
}

#s1p2 {
    top: 43%;
    left: 42%;
    width: 20%;
    height: 8%;
    background-image: url(../image/p0/@2xde.png);
}

#s1p3 {
    top: 52%;
    left: 17%;
    width: 66%;
    height: 23%;
    background-image: url(../image/p0/@2xtime.png);
}

#s1p4 {
    top: 80%;
    left: 20%;
    width: 60%;
    height: 9%;
    background-image: url(../image/p0/@2xqunale.png);
}

#s2p1 {
    top: 0%;
    left: 0%;
    width: 42%;
    height: 35%;
    background-image: url(../image/p1/@2xper.png);
}

#s2p2 {
    top: 6%;
    left: 30%;
    z-index: -1;
    width: 50%;
    height: 30%;
    background-image: url(../image/p1/@2xbianshen.png);
}

#s2p3 {
    top: 19%;
    left: 53%;
    width: 45%;
    height: 43%;
    background-image: url(../image/p1/@2xren2.png);
}

#s2p4 {
    top: 40%;
    left: 80%;
    width: 15%;
    height: 15%;
    background-image: url(../image/p1/@2xwawa.png);
}

#s2p5 {
    top: 36%;
    left: 7%;
    width: 45%;
    height: 15%;
    background-image: url(../image/p1/@2xzi.png);
}

#s2p6 {
    top: 55%;
    left: 30%;
    width: 41%;
    height: 14%;
    background-image: url(../image/p1/@2xwenzi3.png);
}

#s2p7 {
    top: 59%;
    left: 3%;
    width: 29%;
    height: 17%;
    background-image: url(../image/p1/@2xyunqi.png);
}

#s2p8 {
    top: 59%;
    left: 69%;
    width: 29%;
    height: 17%;
    background-image: url(../image/p1/@2xchanqi.png);
}

#s2p9 {
    top: 69%;
    left: 34%;
    width: 33%;
    height: 17%;
    background-image: url(../image/p1/@2xburuqi.png);
}

#s2p10 {
    top: 82%;
    left: 13%;
    width: 74%;
    height: 18%;
    background-image: url(../image/p1/@2xwenzi4.png);
}

#s3p1 {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 11%;
    background-image: url(../image/p2/@2xbiati1.png);
    background-size: 100% auto;
}

#s3p2 {
    top: 14%;
    left: 1%;
    width: 50%;
    height: 28%;
    background-image: url(../image/p2/@2xbiao.png);
}

#s3p3 {
    top: 12%;
    left: 47%;
    width: 32%;
    height: 7%;
    background-image: url(../image/p2/@2xgongzuo.png);
}

#s3p4 {
    top: 18%;
    left: 57%;
    width: 35%;
    height: 7%;
    background-image: url(../image/p2/@2xjiawu.png);
}

#s3p5 {
    top: 25%;
    left: 58%;
    width: 42%;
    height: 7%;
    background-image: url(../image/p2/@2xgaibeizi.png);
}

#s3p6 {
    top: 32%;
    left: 50%;
    width: 31%;
    height: 7%;
    background-image: url(../image/p2/@2xchifan.png);
}

#s3p7 {
    top: 38%;
    left: 66%;
    width: 34%;
    height: 7%;
    background-image: url(../image/p2/@2xzailushang.png);
}

#s3p8 {
    top: 44%;
    left: 36%;
    width: 41%;
    height: 7%;
    background-image: url(../image/p2/@2xzhaogubb.png);
}

#s3p9 {
    top: 54%;
    left: 2%;
    width: 21%;
    height: 16%;
    background-image: url(../image/p2/@2x80.png);
}

#s3p10 {
    top: 57%;
    left: 24%;
    width: 73%;
    height: 10%;
    background-image: url(../image/p2/@2xw80.png);
}

#s3p11 {
    top: 68%;
    left: 1%;
    width: 21%;
    height: 14%;
    background-image: url(../image/p2/@2x70.png);
}

#s3p12 {
    top: 71%;
    left: 24%;
    width: 73%;
    height: 9%;
    background-image: url(../image/p2/@2xw70.png);
}

#s3p13 {
    top: 82%;
    left: 1%;
    width: 21%;
    height: 14%;
    background-image: url(../image/p2/@2x45.png);
}

#s3p14 {
    top: 85%;
    left: 25%;
    width: 73%;
    height: 9%;
    background-image: url(../image/p2/@2xw45.png);
}

#s4p1 {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 11%;
    background-image: url(../image/p3/@2xbiati1.png);
    background-size: 100% auto;
}

#s4p2 {
    top: 11%;
    left: 2%;
    width: 21%;
    height: 14%;
    background-image: url(../image/p3/@2x702.png);
}

#s4p3 {
    top: 15%;
    left: 25%;
    width: 74%;
    height: 9%;
    background-image: url(../image/p3/@2xw702.png);
}

#s4p4 {
    top: 24%;
    left: 3%;
    width: 21%;
    height: 14%;
    background-image: url(../image/p3/@2x65.png);
}

#s4p5 {
    top: 27%;
    left: 25%;
    width: 75%;
    height: 10%;
    background-image: url(../image/p3/@2xw65.png);
}

#s4p6 {
    top: 45%;
    left: 21%;
    width: 59%;
    height: 36%;
    background-image: url(../image/p3/@2xmama.png);
}

#s4p7 {
    top: 80%;
    left: 9%;
    width: 85%;
    height: 14%;
    background-image: url(../image/p3/@2xwenzi.png);
}

#s5p1 {
    top: -1%;
    left: 0%;
    width: 100%;
    height: 12%;
    background-image: url(../image/p4/@2xbt.png);
    background-size: 100% auto;
}

#s5p2 {
    top: 12%;
    left: 28%;
    width: 42%;
    height: 36%;
    background-image: url(../image/p4/@2xtu.png);
}

#s5p3 {
    top: 48%;
    left: 16%;
    width: 65%;
    height: 6%;
    background-image: url(../image/p4/@2xzi1.png);
}

#s5p4 {
    top: 53%;
    left: 24%;
    width: 48%;
    height: 7%;
    background-image: url(../image/p4/@2xzi2.png);
}

#s5p5 {
    top: 60%;
    left: 22%;
    width: 55%;
    height: 7%;
    background-image: url(../image/p4/@2xzi3.png);
}

#s5p6 {
    top: 69%;
    left: 16%;
    width: 19%;
    height: 10%;
    background-image: url(../image/p4/@2x11.png);
}

#s5p7 {
    top: 71%;
    left: 34%;
    width: 48%;
    height: 6%;
    background-image: url(../image/p4/@2xw11.png);
}

#s5p8 {
    top: 79%;
    left: 16%;
    width: 19%;
    height: 10%;
    background-image: url(../image/p4/@2x56.png);
}

#s5p9 {
    top: 82%;
    left: 34%;
    width: 51%;
    height: 5%;
    background-image: url(../image/p4/@2xw56.png);
}

#s6p1 {
    top: -1%;
    left: 0%;
    width: 100%;
    height: 12%;
    background-image: url(../image/p5/title.png);
    background-size: 100% auto;
}

#s6p2 {
    top: 37%;
    left: 0%;
    width: 100%;
    height: 25%;
    background-image: url(../image/p5/jianzhu.png);
    background-size: 100% auto;
}

#s6p3 {
    top: 16%;
    left: 0%;
    width: 100%;
    height: 35%;
    background-image: url(../image/p5/wenzi2.png);
}

#s6p4 {
    top: 73%;
    left: 0%;
    width: 100%;
    height: 12%;
    background-image: url(../image/p5/wenzi.png);
}

#s7p1 {
    top: -1%;
    left: 0%;
    width: 100%;
    height: 12%;
    background-image: url(../image/p6/title.png);
    background-size: 100% auto;
}

#s7p2 {
    top: 16%;
    left: 0%;
    width: 100%;
    height: 9%;
    background-image: url(../image/p6/yuan.png);
}

#s7p3 {
    top: 30%;
    left: 0%;
    width: 100%;
    height: 4%;
    background-image: url(../image/p6/youself.png);
}

#s7p4 {
    top: 48%;
    left: 0%;
    width: 100%;
    height: 29%;
    background-image: url(../image/p6/mother.png);
}

#s7p5 {
    top: 36%;
    left: 0%;
    width: 100%;
    height: 35%;
    background-image: url(../image/p6/qiqiu.png);
}

#s7p6 {
    top: 83%;
    left: 0%;
    width: 100%;
    height: 6%;
    background-image: url(../image/p6/xingqu.png);
}

#s8p1 {
    top: -1%;
    left: 0%;
    width: 100%;
    height: 11%;
    background-image: url(../image/p7/title.png);
    background-size: 100% auto;
}

#s8p2 {
    top: 15%;
    left: 0%;
    width: 100%;
    height: 11%;
    background-image: url(../image/p7/1.png);
}

#s8p3 {
    top: 26%;
    left: 0%;
    width: 100%;
    height: 15%;
    background-image: url(../image/p7/2.png);
}

#s8p4 {
    top: 41%;
    left: 0%;
    width: 100%;
    height: 7%;
    background-image: url(../image/p7/3.png);
}

#s8p5 {
    top: 48%;
    left: 0%;
    width: 100%;
    height: 11%;
    background-image: url(../image/p7/4.png);
}

#s8p6 {
    top: 62%;
    left: 0%;
    width: 100%;
    height: 30%;
    background-image: url(../image/p7/mama.png);
}

.next {
    -webkit-animation: slideInUp 0.5s linear 0s infinite alternate;
}

.bouncein {
    -webkit-animation: bounceIn 1s linear 0s 1 alternate;
}

.bounceindown {
    -webkit-animation: bounceInDown 1s linear 0s 1 alternate;
}

.bounceinleft {
    -webkit-animation: bounceInLeft 1s linear 0s 1 alternate;
}

.bounceinright {
    -webkit-animation: bounceInRight 1s linear 0s 1 alternate;
}

.bounceinup {
    -webkit-animation: bounceInUp 1s linear 0s 1 alternate;
}

.flipiny {
    -webkit-animation: flipInY 1s linear 0s 1 alternate;
}

.rotatein {
    -webkit-animation: rotateIn 1s linear 0s 1 alternate;
}

.rubberband {
    -webkit-animation: rubberBand 1s linear 0s 1 alternate;
}

.tada {
    -webkit-animation: tada 1s linear 0s 1 alternate;
}

@-webkit-keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes bounceInDown {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }
    100% {
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes bounceInLeft {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }
    100% {
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes bounceInRight {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }
    100% {
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes bounceInUp {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes flipInY {
    0% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }
    60% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }
    80% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }
    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

@-webkit-keyframes rotateIn {
    0% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -200deg);
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0;
    }
    100% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@-webkit-keyframes rubberBand {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 30%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes tada {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    10%,
    20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%,
    60%,
    80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}